<section class="section case-study">
  <div class="container">
    <div class="columns is-justify-content-center">
      <div class="column is-8-desktop">
        <div class="case-study-content has-text-centered mb-6">
          <h2 class="mb-5">How we work</h2>
          <p>Our team follows a systematic approach to ensure efficient project execution and successful outcomes.</p>
        </div>
      </div>
    </div>

    <div class="case-timeline">
      <div class="case-timeline-divider"></div>
      <div class="case-timeline-dot"></div>

      <div class="columns is-align-items-center">
        <div class="column is-6-desktop">
          <div class="case-img ">
            <img src="images/about/process-3.jpg" alt="" class="w-100">
          </div>
        </div>
        <div class="column is-6-desktop">
          <div class="case-content">
            <h4 class="mb-4">Competitor Research</h4>
            <p>Gain a competitive edge with our thorough competitor research. We analyze strategies, strengths, and
              weaknesses to help you stay ahead in your industry.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="case-timeline">
      <div class="case-timeline-divider"></div>
      <div class="case-timeline-dot"></div>
      <div class="columns is-align-items-center">
        <div class="column is-6-desktop">
          <div class="case-content">
            <h4 class="mb-4">Making Functional Strategy</h4>
            <p>Tailored functional strategies for your business success. Our expert team analyzes and plans to optimize
              operational efficiency and align with your goals.</p>
          </div>
        </div>
        <div class="column is-6-desktop">
          <div class="case-img">
            <img src="images/about/process-2.jpg" alt="" class="w-100">
          </div>
        </div>
      </div>
    </div>

    <div class="case-timeline">
      <div class="case-timeline-divider"></div>
      <div class="case-timeline-dot"></div>

      <div class="columns is-align-items-center">
        <div class="column is-6-desktop">
          <div class="case-img">
            <img src="images/about/process-1.jpg" alt="" class="w-100">
          </div>
        </div>
        <div class="column is-6-desktop">
          <div class="case-content">
            <h4 class="mb-4">Project Outline</h4>
            <p>Clear and concise project outlines that capture key details. Our roadmaps provide goals, timelines, and
              deliverables for successful project execution.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="case-timeline">
      <div class="case-timeline-divider"></div>
      <div class="case-timeline-dot"></div>

      <div class="columns is-align-items-center">
        <div class="column is-6-desktop">
          <div class="case-content">
            <h4 class="mb-4">Final Delivery</h4>
            <p>Efficient and Reliable Project Delivery. Meticulous attention to detail, on-time delivery, and quality
              assurance for a successful project outcome.</p>
          </div>
        </div>

        <div class="column is-6-desktop">
          <div class="case-img">
            <img src="images/about/structure_sass.png" alt="" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
