<!-- section Counter Start -->
<section class="section counter">
	<div class="container">
		<div class="columns is-multiline is-centered">
			<div class="column is-3-widescreen is-6-desktop">
				<div class="counter-item has-text-centered">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">42</span> +</h2>
					<p>Happy Clients</p>
				</div>
			</div>
			<div class="column is-3-widescreen is-6-desktop">
				<div class="counter-item has-text-centered">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">1 </span>M </h2>
					<p>User Worldwide</p>
				</div>
			</div>
<!--			<div class="column is-3-widescreen is-6-desktop">-->
<!--				<div class="counter-item has-text-centered">-->
<!--					<h2 class="mb-0"><span class="counter-stat font-weight-bold">5</span></h2>-->
<!--					<p>Available Country</p>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="column is-3-widescreen is-6-desktop">-->
<!--				<div class="counter-item has-text-centered">-->
<!--					<h2 class="mb-0"><span class="counter-stat font-weight-bold">10</span></h2>-->
<!--					<p>Award Winner </p>-->
<!--				</div>-->
<!--			</div>-->
		</div>
	</div>
</section>
<!-- section Counter End  -->
